$progress-size: 500px;
$progress-size-mobile: 260px;
$circle-size: 50px;
$grey-disabled: #d4d4d4;
$background-color: #f2f2f2;
$border-size: 4px;
$color-done: #8cc43d;
$color-active: #555;
$label: "bottom"; //$label: TOP | BOTTOM
$font-size: 12px;