doctype html
html(ng-app='copycat.copyright')
  head
    link(href='/css/copyright.css', rel='stylesheet')
  body
    // main container
    .content
      h1 Copyright Registration Confirmation
      ui-view
    // scripts
    script(src='/js/copyright.deps.js')
    script(src='/js/copyright.js')
